<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.hifuture.weather" android:versionCode="1" android:versionName="1.0">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.cs.ute.hiFuture.permission.PRIVATE_WEATHER" />
    <queries><package android:name="com.cs.ute.hiFuture" /></queries>
    <application android:label="Private Watch Weather" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false" android:usesCleartextTraffic="false">
        <activity android:name=".WeatherActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <service android:name=".WeatherJob" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true" />
    </application>
</manifest>
